@font-face {
  font-family: 'CCBackBeatRegular';
  src: url('./assets/CCBackBeatRegular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 48px 0;
}

.list li {
  display: flex;
  width: 386px;
  cursor: pointer;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.game-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d4d6d861;
}

.list li:last-of-type .game-wrapper {
  border: none;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.active-game .content-wrapper {
  padding: 0;
}

.game-title {
  font-size: 14px;
  font-weight: 500;
}

.game-description {
  font-size: 14px;
  color: #63635d;
}

.button {
  border-radius: 9999px;
  background: #f1f0ef;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  color: #007aff;
}

.active-game {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 10;
}

.active-game .inner {
  display: flex;
  height: fit-content;
  width: 500px;
  cursor: pointer;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  overflow: hidden;
  background: white;
  padding: 16px;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.header-inner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.long-description {
  font-size: 14px;
  color: #63635d;
}

.overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
